<div>
    <div class="i-small">
        <h4>SVG Symbol - 24px</h4>
        <div>
            <svg class="i"><use xlink:href="#i-search" /></svg>
            <svg class="i"><use xlink:href="#i-close" /></svg>
            <svg class="i"><use xlink:href="#i-plus" /></svg>
            <svg class="i"><use xlink:href="#i-minus" /></svg>
            <svg class="i"><use xlink:href="#i-play" /></svg>
            <svg class="i"><use xlink:href="#i-pause" /></svg>
            <svg class="i"><use xlink:href="#i-backwards" /></svg>
            <svg class="i"><use xlink:href="#i-forwards" /></svg>
            <svg class="i"><use xlink:href="#i-move" /></svg>
            <svg class="i"><use xlink:href="#i-zoom-in" /></svg>
            <svg class="i"><use xlink:href="#i-zoom-out" /></svg>
            <svg class="i"><use xlink:href="#i-zoom-reset" /></svg>
            <svg class="i"><use xlink:href="#i-fullscreen" /></svg>
            <svg class="i"><use xlink:href="#i-fullscreen-exit" /></svg>
            <svg class="i"><use xlink:href="#i-star" /></svg>
            <svg class="i"><use xlink:href="#i-checkmark" /></svg>
            <svg class="i"><use xlink:href="#i-chevron-top" /></svg>
            <svg class="i"><use xlink:href="#i-chevron-right" /></svg>
            <svg class="i"><use xlink:href="#i-chevron-bottom" /></svg>
            <svg class="i"><use xlink:href="#i-chevron-left" /></svg>
            <svg class="i"><use xlink:href="#i-arrow-top" /></svg>
            <svg class="i"><use xlink:href="#i-arrow-right" /></svg>
            <svg class="i"><use xlink:href="#i-arrow-bottom" /></svg>
            <svg class="i"><use xlink:href="#i-arrow-left" /></svg>
            <svg class="i"><use xlink:href="#i-caret-top" /></svg>
            <svg class="i"><use xlink:href="#i-caret-right" /></svg>
            <svg class="i"><use xlink:href="#i-caret-bottom" /></svg>
            <svg class="i"><use xlink:href="#i-caret-left" /></svg>
            <svg class="i"><use xlink:href="#i-start" /></svg>
            <svg class="i"><use xlink:href="#i-end" /></svg>
            <svg class="i"><use xlink:href="#i-eject" /></svg>
            <svg class="i"><use xlink:href="#i-mute" /></svg>
            <svg class="i"><use xlink:href="#i-volume" /></svg>
            <svg class="i"><use xlink:href="#i-ban" /></svg>
            <svg class="i"><use xlink:href="#i-flag" /></svg>
            <svg class="i"><use xlink:href="#i-options" /></svg>
            <svg class="i"><use xlink:href="#i-settings" /></svg>
            <svg class="i"><use xlink:href="#i-heart" /></svg>
            <svg class="i"><use xlink:href="#i-clock" /></svg>
            <svg class="i"><use xlink:href="#i-menu" /></svg>
            <svg class="i"><use xlink:href="#i-msg" /></svg>
            <svg class="i"><use xlink:href="#i-photo" /></svg>
            <svg class="i"><use xlink:href="#i-camera" /></svg>
            <svg class="i"><use xlink:href="#i-video" /></svg>
            <svg class="i"><use xlink:href="#i-music" /></svg>
            <svg class="i"><use xlink:href="#i-mail" /></svg>
            <svg class="i"><use xlink:href="#i-home" /></svg>
            <svg class="i"><use xlink:href="#i-user" /></svg>
            <svg class="i"><use xlink:href="#i-signin" /></svg>
            <svg class="i"><use xlink:href="#i-signout" /></svg>
            <svg class="i"><use xlink:href="#i-trash" /></svg>
            <svg class="i"><use xlink:href="#i-paperclip" /></svg>
            <svg class="i"><use xlink:href="#i-file" /></svg>
            <svg class="i"><use xlink:href="#i-folder" /></svg>
            <svg class="i"><use xlink:href="#i-folder-open" /></svg>
            <svg class="i"><use xlink:href="#i-work" /></svg>
            <svg class="i"><use xlink:href="#i-portfolio" /></svg>
            <svg class="i"><use xlink:href="#i-eye" /></svg>
            <svg class="i"><use xlink:href="#i-bookmark" /></svg>
            <svg class="i"><use xlink:href="#i-tag" /></svg>
            <svg class="i"><use xlink:href="#i-lightning" /></svg>
            <svg class="i"><use xlink:href="#i-location" /></svg>
            <svg class="i"><use xlink:href="#i-activity" /></svg>
            <svg class="i"><use xlink:href="#i-export" /></svg>
            <svg class="i"><use xlink:href="#i-import" /></svg>
            <svg class="i"><use xlink:href="#i-inbox" /></svg>
            <svg class="i"><use xlink:href="#i-archive" /></svg>
            <svg class="i"><use xlink:href="#i-reply" /></svg>
            <svg class="i"><use xlink:href="#i-edit" /></svg>
            <svg class="i"><use xlink:href="#i-compose" /></svg>
            <svg class="i"><use xlink:href="#i-upload" /></svg>
            <svg class="i"><use xlink:href="#i-download" /></svg>
            <svg class="i"><use xlink:href="#i-send" /></svg>
            <svg class="i"><use xlink:href="#i-link" /></svg>
            <svg class="i"><use xlink:href="#i-code" /></svg>
            <svg class="i"><use xlink:href="#i-lock" /></svg>
            <svg class="i"><use xlink:href="#i-unlock" /></svg>
            <svg class="i"><use xlink:href="#i-bell" /></svg>
            <svg class="i"><use xlink:href="#i-book" /></svg>
            <svg class="i"><use xlink:href="#i-calendar" /></svg>
            <svg class="i"><use xlink:href="#i-print" /></svg>
            <svg class="i"><use xlink:href="#i-alert" /></svg>
            <svg class="i"><use xlink:href="#i-info" /></svg>
            <svg class="i"><use xlink:href="#i-creditcard" /></svg>
            <svg class="i"><use xlink:href="#i-cart" /></svg>
            <svg class="i"><use xlink:href="#i-bag" /></svg>
            <svg class="i"><use xlink:href="#i-gift" /></svg>
            <svg class="i"><use xlink:href="#i-external" /></svg>
            <svg class="i"><use xlink:href="#i-reload" /></svg>
            <svg class="i"><use xlink:href="#i-clipboard" /></svg>
            <svg class="i"><use xlink:href="#i-filter" /></svg>
            <svg class="i"><use xlink:href="#i-feed" /></svg>
            <svg class="i"><use xlink:href="#i-moon" /></svg>
            <svg class="i"><use xlink:href="#i-microphone" /></svg>
            <svg class="i"><use xlink:href="#i-telephone" /></svg>
            <svg class="i"><use xlink:href="#i-desktop" /></svg>
            <svg class="i"><use xlink:href="#i-mobile" /></svg>
            <svg class="i"><use xlink:href="#i-ellipsis-horizontal" /></svg>
            <svg class="i"><use xlink:href="#i-ellipsis-vertical" /></svg>
            <svg class="i"><use xlink:href="#i-twitter" /></svg>
            <svg class="i"><use xlink:href="#i-github" /></svg>
        </div>

    </div>
</div>