<div id="lay-top" v-show="objUserInfo.loggedIn"></div>
<div id="lay-body">
    <div id="lay-left" v-show="objUserInfo.loggedIn" style="width:250px">
        <div id="lay-left-toolbar"></div>
        <div id="lay-left-sidebar"></div>
    </div>
    <div id="lay-main" :style="{ width: objUserInfo.loggedIn ? 'calc(100% - 250px)' : '100%' }">
        <router-view></router-view>
    </div>
    <div id="lay-right" v-show="objUserInfo.loggedIn">
        <div id="lay-right-toolbar"></div>
        <div id="lay-right-sidebar"></div>
    </div>
</div>
<div id="lay-bottom" v-show="objUserInfo.loggedIn"></div>
<link href="layout/base.css" rel="stylesheet" />