/*chrome*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #B2D5EE;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0 #B2D5EE;
}

::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0 #CCCCCC;
}

.bg-transparent {
    background-color: transparent !important;
}

.component {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: #202124;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: #B2D5EE;
}

.lay-screen-login #lay-top,
.lay-screen-login #lay-breadcrumb,
.lay-screen-login #lay-left,
.lay-screen-login #lay-right,
.lay-screen-login #lay-bottom {
    display: none;
}

.lay-screen-login #lay-main {
    width: 100%;
}

#lay-left {
    width: 199px;
    float: left;
    padding: 0 7px;
}

#lay-breadcrumb {
}

#lay-main {
    width: calc(100% - 199px);
    float: right;
    padding: 7px 0 0;
    height: calc(100vh - 85px);
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    right: 0;
    bottom: 10px;
    /*background-color: red;*/
}

#lay-view {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#lay-message,
#lay-view {
    padding: 0 1rem;
}
/*///////////////////////////////////////*/
/*--MOBI--*/
body.lay-mobi #lay-top,
body.lay-mobi #lay-left,
body.lay-mobi #lay-right {
    display: none;
}

body.lay-mobi #lay-main {
    width: 100%;
    height: calc(100vh - 44px);
}

body.lay-mobi .lay-screen-login #lay-main {
    height: calc(100vh - 7px);
}