
.component.left-sidebar .list-group-item {
    border: none !important;
    background-color: transparent !important;
}

ul.fancytree-container {
	/* border-right: 1px solid gray; */
	width: 100%;
	overflow: hidden;
	/* The expand animations result in ugly focus outline artefacts, so hide those. */
	outline: 0;
	border: none;
	background-color: transparent;
}
/* Display top level nodes as accordion header. */
ul.fancytree-container >li >.fancytree-node span.fancytree-title {
	box-sizing: border-box;
	width: 100%;
	padding: 4px;
	margin: 0;
	background-color: transparent;
	border:none;
	font-weight: 550;
}
/* Hide  expanders for top-level nodes */
ul.fancytree-container >li >.fancytree-node .fancytree-expander {
	display: none;
}
/* Don't indent level-2 nodes */
ul.fancytree-container >li >ul {
	padding-left: 0;
}

.left-sidebar-fancytree .fancytree-custom-icon svg {
    stroke: currentColor;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    width: 1em;
    height: 1em;
    margin: 0.4em;
    font-size: 16px;
    margin: 0;
    color: #333;
}

.fancytree-plain span.fancytree-active span.fancytree-title, 
.fancytree-plain span.fancytree-selected span.fancytree-title {
    background-color: #cbe8f6 !important;
	border: transparent !important;
    border-radius: 3px !important;
}